h1.index {
    background-image: url(../../img/cearaTitulo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 30em;
    text-align: center;
}

header nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.Galeria p {
    color: white;
    text-align: justify;
}

.Galeria h3 {
    color: white;
}

h2 {
    font-size: 2rem;
}

.Galeria h2 {
    margin-bottom: 30px;
    color: #2c3e50;
}

.Galeria {
    text-align: center;
}

.divizinhas h3 {
    margin: 10px 0;
    font-size: 1.4rem;
    color: #34495e;
}

.divizinhas p {
    color: #555;
    line-height: 1.6;
    font-size: 1em;
    max-width: 600px;
    margin-top: 50px;
}

.infos {
    color: #2e3a44;
}

.infos > h2 {
    font-size: 2.2rem;
    margin-bottom: 35px;
    font-weight: 600;
    text-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.information h3 {
    font-size: 1.4rem;
    margin-bottom: 12px;
    color: #1b4965;
}

.infos .information ul {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}

.information li {
    margin-bottom: 10px;
    line-height: 1.65;
    text-align: justify;
    font-size: 1rem;
    position: relative;
    padding-left: 14px;
}

.information li::before {
    content: "";
    position: absolute;
    left: -4px;
    top: 9px;
    width: 10px;
    height: 10px;
    background: #2193b0;
    border-radius: 50%;
}

footer {
    text-align: center;
}