header nav {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 100px;
    margin-left: 11%;
}

header img {
    width: 150px;
}

header .caminhos {
    display: flex;
    gap: 400px;
    align-items: center;
    align-self: center;
    padding: 10px;
    background-color:#06833b;
    margin-top: 10px;
}

header nav a:hover {
    color: rgb(255, 225, 0);
}

.cultura {
    background: #06833b;
    color: #fff;
    padding: 30px 0 20px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}